body{
    background-color: #545151;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1, h2{
    color: #75d7ff;
}

p, ul, li {
    color: white
}

p::first-letter{
    font-size: 1.5em;
}

a{
    color:#fd3333;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

strong{
    color: greenyellow;
}

dt{
    color: greenyellow
}

dd{
    color: white;
}